name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: read # for checkout

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Copy env
        run: pnpm create:env
      - name: Run tests
        run: pnpm test
      - name: Install Playwright Browsers
        run: pnpm playwright install
      - name: Run e2e tests
        run: pnpm start & pnpm e2e
      - uses: actions/upload-artifact@v6
        if: always()
        with:
          name: reports
          path: reports/
          retention-days: 30
      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: 'unused'
          HUSKY: 0
        run: pnpm semantic-release
